absl-py==0.12.0
aiohttp==3.7.4.post0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==3.0.1
attrs==17.4.0
audioread==2.1.9
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cycler==0.10.0
decorator==5.0.7
ear==2.0.0
enum34==1.1.10
flatbuffers==1.12
fsspec==2021.4.0
future==0.18.2
gast==0.3.3
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
joblib==1.0.1
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.36.0
logging==0.4.9.6
lxml==4.6.3
Markdown==3.3.4
matplotlib==3.4.1
mkl-fft==1.3.0
mkl-random @ file:///tmp/build/80754af9/mkl_random_1618853849286/work
mkl-service==2.3.0
multidict==5.1.0
multipledispatch==0.6.0
numba==0.53.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1618497241363/work
oauthlib==3.1.0
olefile==0.46
onnxruntime==1.7.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
Pillow @ file:///tmp/build/80754af9/pillow_1617383569452/work
pooch==1.3.0
prettytable==2.1.0
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-lightning==1.2.10
pytz==2021.1
PyYAML==5.3.1
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7.2
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
scikit-learn==0.24.2
scipy==1.6.3
six @ file:///tmp/build/80754af9/six_1605205327372/work
SoundFile==0.10.3.post1
tensorboard==2.4.1
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.8.1
torchaudio==0.8.0a0+e4e171a
torchmetrics==0.2.0
torchvision==0.9.1
tqdm==4.60.0
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
urllib3==1.26.4
wavinfo==1.6.2
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
